<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="not-found content">
      <h2>404 | Page Not Found</h2>

      <p>Oops! Looks like you&apos;ve wandered off the path.</p>
      <p>
        The page you&apos;re looking for doesn&apos;t exist or might have been
        moved.
      </p>

      <div>
        <h4>But don&apos;t worry — here are a few things you can do:</h4>
        <ul>
          <li><a href="/">Go back to the homepage</a></li>
          <li>
            <a href="/contact"
              >Contact me if you think something&apos;s broken</a
            >
          </li>
        </ul>
      </div>

      <p>Thanks for dropping by anyway! 👋</p>
    </div>
  </body>
</html>
