<div class="sticky top-0 border-b border-[#644a40] bg-[#f9f9f9]">
  <nav
    class="flex items-center justify-between px-5 h-[64px] max-w-[1024px] mx-auto"
  >
    <div class="">
      <a href="/"
        ><h1 class="font-bold text-2xl text-[#644a40]">DevDiary</h1></a
      >
    </div>
    <ul
      class="flex items-center justify-start gap-2 font-semibold text-[#202020] text-sm md:text-base lg:text-lg"
    >
      <li class="px-2 py-1 hover:bg-[#644a40] hover:text-[#ffffff] rounded-lg">
        <a href="/">Blogs</a>
      </li>
      <li class="px-2 py-1 hover:bg-[#644a40] hover:text-[#ffffff] rounded-lg">
        <a href="/about">About</a>
      </li>
      <li class="px-2 py-1 hover:bg-[#644a40] hover:text-[#ffffff] rounded-lg">
        <a href="/blogs/create">New Blog</a>
      </li>
    </ul>
  </nav>
</div>
